<html>
<head>
	<title>列表展示</title>
	 <link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.min.css">
	<script type="text/javascript" src="../bootstrap/js/jq.js"></script>
	<script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../jquery-3.3.1.min.js"></script>
	<script type="text/javascript">
		window.onload = function(){
			var id = document.cookie.split("now_page=")[1].split(";")[0];
			document.getElementById(id).style.color="red";
		}
		$("document").ready(function(){
			$("td").click(function(event) {
				$(this).css({
					"background-color": 'yellow',
				});
			});
			$("h2").click(function(event) {
				$("table").toggle();
			});
		});
	</script>
	<style type="text/css">
		a:hover{
			font-size: 15px;
			color:green;
		}
		li{
			margin: 0px 15px;
		}
		tr:hover{
			font-size: 17px;
			color:green;
		}
		td{
			padding:10px;
		}
		table {
			text-align: center;
			margin: 0px auto;
			width: 700px;
		}
	</style>
	<!--  引入bootstrap 源码存放在同级bootstrap目录下 -->
</head>
<body>
	<div class="container" align="center">
	<ul class="list-inline">
		<li><a href="../controller/StudentController.php">学生管理</a></li>
		<li><a href="../controller/NewsController.php">新闻管理</a></li>
	</ul>
	<caption ><h2>学生信息列表</h2></caption><br>
	<caption >共<?=$total_row?>学生</caption><br>
	<table class="table-bordered">
		<tr>
			<td>姓名</td>
			<td>性别</td>
			<td>年龄</td>
			<td>学历</td>
			<td>工资</td>
			<td>奖金</td>
			<td>籍贯</td>
			<td>操作</td>
		</tr>
		<?php foreach($result as $line): ?>
			<tr>
			<td><?=$line["name"]?></td>
			<td><?=$line["sex"]?></td>
			<td><?=$line["age"]?></td>
			<td><?=$line["edu"]?></td>
			<td><?=$line["salary"]?></td>
			<td><?=$line["bonus"]?></td>
			<td><?=$line["city"]?></td>
			<td>
				<a href="?ac=alter&id=<?=$line['id']?>">修改</a>&nbsp;&nbsp;|
				<a href="?ac=delete&id=<?=$line['id']?>">删除</a>
			</td>
			</tr>
		<?php endforeach ?>
	</table><br>
<!-- 	<a href="./add.php">添加文章</a> -->
	<?php $page->show_page()?>
	</div>
	<!-- <div><a href="?ac=add">添加信息</a></div> -->
	<div>
		<img src="./show_code.php" onclick="this.src='../show_code.php?id='+Math.random()">
	</div>
</body>
</html>
