<style type="text/css">
    a{
        text-decoration: none;
    }
</style>

<div class="mainbar">
    {if($noData)}
        <div class="article" style="margin-top: 200px">
            <p style="font-size: 40px">当前条件下无数据！</p>
        </div>
    {/if}
    {volist name='articleList' id='article'}
    <div class="article"> <a href="{:url('home/article/read',['id'=>$article.id])}"  num="{$article.id}" class="com"><span>{$article.comment_count}</span></a>
        <p style="font-size: 25px"><a href="{:url('home/article/read',['id'=>$article.id])}">{$article.title}</a></p>
        <p class="infopost">作者&emsp;<a href="javascript:void(0)">{$article.username}</a>&emsp;|&emsp;时间&emsp;<span class="date">{$article.addate}</span>
            &emsp;|&emsp;类型 <a href="javascript:void(0)">{$article.classname}&emsp;|&emsp;点赞数&emsp;{$article.praise}&emsp;|&emsp;评论数&emsp;{$article.comment_count}</a></p>
        <div class="clr"></div>
        <!--<div class="img"><img src="/static/home/images/img1.jpg" width="200" height="210" alt="" class="fl" /></div>-->
        <div class="post_content">
            {$article.content}
        </div>
        <div class="clr"></div>
    </div>
    {/volist}
    {if(!$noData)}{$articleList->render()}{/if}
    <!--<p class="pages"><small>Page {$current_page} of {$last_page}</small></p>-->
</div>
      <!--<script type="text/javascript">-->
              <!--$(function ($) {-->
                  <!--$('.article .com').click(-->
                          <!--function() {-->
                            <!--var data = {'id': $(this).attr('num')};-->
                            <!--$.ajax({-->
                              <!--'url': "{:url('home/article/read')}",-->
                              <!--'type': "POST",-->
                              <!--'data': data,-->
                              <!--'dataType': 'html',-->
                              <!--'success': function (result) {-->
                                  <!--$('div.mainbar').html(result);-->
                              <!--}-->
                            <!--});-->
                  <!--});-->
              <!--});-->
      <!--</script>-->
