<html>
<head>
	<title>列表展示</title>
	 <link rel="stylesheet" type="text/css" href="../bootstrap/css/bootstrap.min.css">
	<script type="text/javascript" src="../bootstrap/js/jq.js"></script>
	<script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../jquery-3.3.1.min.js"></script>
	<script type="text/javascript">
	</script>
	
	<!--  引入bootstrap 源码存放在同级bootstrap目录下 -->
</head>
<body>
	<div class="container" >
	<caption ><h2>修改信息</h2></caption><br>
	<form class=".form-group-sm" method="post" action="?ac=update">
		姓名：<input type="text" name="name" value="<?=$result['name']?>"></input><br>
		性别：<input type="radio" name="sex" value="男" <?php echo $result['sex']=="男" ? 'checked': ''?>>男</input>
				<input type="radio" name="sex" value="女" <?php echo $result['sex']=="女" ? 'checked': ''?>>女</input><br>
		年龄：<input type="number" name="age" value="<?=$result['age']?>"></input><br>
		学历：<select name="edu">
				<option value="研究生" <?php echo $result['edu']=="研究生" ? 'selected': ''?>>研究生</option>
				<option value="本科生" <?php echo $result['edu']=="本科生" ? 'selected': ''?>>本科生</option>
				<option value="大专" <?php echo $result['edu']=="大专" ? 'selected': ''?>>大专</option>
				</select>
				<option value="高中" <?php echo $result['edu']=="高中" ? 'selected': ''?>>高中</option><br>
		工资：<input type="number" name="salary" value="<?=$result['salary']?>"></input><br>
		奖金：<input type="number" name="bonus" value="<?=$result['bonus']?>"></input><br>
		籍贯：<input type="text" name="city" value="<?=$result['city']?>"></input><br>

		<input type="submit" value="提交" onclick="return confirm('确定提交？')"></input>
		<input type="reset" value="重置" onclick="return confirm('确定重置？')"></input>
		<input type="hidden" name="id" value="<?=$id?>"></input>
	</form>
</body>
</html>