
<html>
<head>
    <title>Roope</title>
    <link href="/static/home/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/static/home/css/pages.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/static/home/css/coin-slider.css" />

    <script type="text/javascript" src="/static/home/js/cufon-yui.js"></script>
    <script type="text/javascript" src="/static/home/js/droid_sans_400-droid_sans_700.font.js"></script>



    <script type="text/javascript" src="/static/home/js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/static/home/js/coin-slider.min.js"></script>
    <script type="text/javascript" src="/static/home/js/script.js"></script>
    <style type="text/css">
        #myul_show {
            width:960px;
            height: 360px;
            position: relative;
            overflow: hidden;
        }
        #myul_show img{
            position: absolute;
            left: 0px;
            top:0px;
            z-index: 1;
        }
        img:first-child{
            /*z-index: 3;*/

        }
    </style>
    <script type="text/javascript">
        //逐渐将要显示的图片的透明度调到100%
        function changeItem(inIndex, fn){
            $($('#myul_show img')[inIndex]).css('opacity', 0);
            for(var i=0; i<=60; i++){
                (function(j){
                    setTimeout(function(){
                        $($('#myul_show img')[inIndex]).css('opacity', 5*j/100);
                        if(j>=20) fn(); //将要消失的图片的zIndex修改为1
                    },j*50);
                })(i);
            }
        }


        $(function(){
            var outIndex = 0;
            var inIndex = 1;
            setInterval(function(){
                if(outIndex>=$('#myul_show img').length)
                    outIndex = 0;
                if(inIndex >= $('#myul_show img').length)
                    inIndex = 0;
                $($('#myul_show img')[outIndex]).css('zIndex', 2) ;
//                $('#myul_show img')[outIndex].css('zIndex', 1) ;
                $($('#myul_show img')[inIndex]).css('zIndex', 3);
//                对数组格式的jquery对象执行下标操作时，获取到的时js的dom对象，使用$()将其在转化为jquery对象
                changeItem(inIndex, function(){
                    $($('#myul_show img')[outIndex-1]).css('zIndex',1);
                });
                outIndex++;
                inIndex++;
            },4000);

            $.ajax({
                'url' : "{:url('home/index/sentence')}",
                'type' : 'get',
                'data' : {},
                'dataType' : 'json',
                'success' : function(result){
                    if(result.msg == 'success'){
                        var date = result.sentence;
                        $('#mysentence').text(date[0]['sentence']);
                        var i = 1;
                        setInterval(function(){
                            if(i >= date.length){
                                i = 0;
                            }
                            $('#mysentence').text(date[i]['sentence']);
                            i++;
                        },10000);
                    }
                }
            });
        });
    </script>
</head>
<body>
<div class="main">
    <div class="header">
        <div class="header_resize">
            <div class="searchform">
                <form id="formsearch" name="formsearch" method="post" action="{:url('home/index/index')}">
          <span>
          <input name="editbox_search" class="editbox_search" id="editbox_search" maxlength="80" value="Search our ste:" type="text" />
          </span>
                    <input name="button_search" src="/static/home/images/search.gif" class="button_search" type="image" />
                </form>
            </div>
            <div class="menu_nav">
                <ul>
                    <li class="active"><a href="{:url('home/index/index')}"><span>Home Page</span></a></li>
                    <li><a href="{:url('admin/index/index')}"><span>Admin</span></a></li>
                    <!--<li><a href="javascript:void(0)"><span>About Us</span></a></li>-->
                    <li>
                        {if(session('?UserInfo'))}
                            <a href="javascript:void(0)"><span>{$Think.session.UserInfo.username}</span></a>
                        {else/}
                            <a href="{:url('home/login/index')}"><span>Login</span></a>
                        {/if}
                    </li>
                    {if(session('?UserInfo'))}
                    <li><a href="{:url('home/login/loginout')}"><span>Login Out</span></a></li>
                    {/if}
                </ul>
            </div>
            <div class="clr"></div>
            <div class="logo">
                <div><h1 id="mysentence"></h1></div>
            </div>
            <div class="clr"></div>
                     <!--<div class="slider">-->
                <!--<div id="coin-slider">-->
                    <!--{for start='1' end='4'}-->
                        <!--<a href="javascript:void(0)" >-->
                            <!--<img class='showdetail' num="{$topShow[$i-1]['id']}" src="/static/home/images/slide{$i}.jpg" width="960" height="360" alt="" />-->
                            <!--&lt;!&ndash;<span><big>{$topShow[$i-1]['title']}</big><br />&ndash;&gt;-->
                               <!--&lt;!&ndash;{$topShow[$i-1]['content']} </span>&ndash;&gt;-->
                        <!--</a>-->
                    <!--{/for}-->
                <!--</div>-->
                <!--<div class="clr"></div>-->
            <!--</div>-->
            <div >
                <div id="myul_show">
                       <img  src="/static/home/images/slide1.jpg" width="960" height="360" alt="" />
                        <img style="float: left" src="/static/home/images/slide2.jpg" width="960" height="360" alt="" />
                        <img style="float: left" src="/static/home/images/slide3.jpg" width="960" height="360" alt="" />
                </div>
                <div class="clr"></div>
            </div>
            <div class="clr"></div>
        </div>
    </div>
    <!--<div class="copyrights">Collect from <a href="http://www.cssmoban.com/" >企业网站模板</a></div>-->
    <div class="content">
        <div class="content_resize">
    {__CONTENT__}

    <div class="sidebar">
        <div class="gadget">
            <span style="font-size: 25px;">文章分类</span>
            <div class="clr"></div>
            <ul class="sb_menu" style="margin-top: 20px;">
                {volist name='categoryInfo' id='category'}
                <li><a href="{:url('home/index/index',['category_id'=>$category.id])}" class='category' category_id='{$category.id}'>{$category.classname}</a>
                    <a href="{:url('home/index/index',['category_id'=>$category.id])}" class="com"><span>{$category.article_count}</span></a></li>
                {/volist}
            </ul>
        </div>
        <div class="gadget">
            <span style="font-size: 25px;">友情链接</span>
            <div class="clr"></div>
            <ul class="ex_menu" style="margin-top: 20px;">
                {volist name='linksList' id='link'}
                <li ><a target="_blank" href="{$link.url}" style="color: #9A9A9A">{$link.domain}</a></li>
                {/volist}
            </ul>
        </div>
    </div>
    <div class="clr"></div>
</div>
</div>
<div class="fbg">
    <div class="fbg_resize">
        <div class="col c1">
            <h2><span>Image</span> Gallery</h2>
            <a href="#"><img src="/static/home/images/gal1.jpg" width="75" height="75" alt="" class="gal" /></a> <a href="#"><img src="/static/home/images/gal2.jpg" width="75" height="75" alt="" class="gal" /></a> <a href="#"><img src="/static/home/images/gal3.jpg" width="75" height="75" alt="" class="gal" /></a> <a href="#"><img src="/static/home/images/gal4.jpg" width="75" height="75" alt="" class="gal" /></a> <a href="#"><img src="/static/home/images/gal5.jpg" width="75" height="75" alt="" class="gal" /></a> <a href="#"><img src="/static/home/images/gal6.jpg" width="75" height="75" alt="" class="gal" /></a> </div>
        <div class="col c2">
            <!--<h2><span>Services</span> Overview</h2>-->
            <!--<p>Curabitur sed urna id nunc pulvinar semper. Nunc sit amet tortor sit amet lacus sagittis posuere cursus vitae nunc.Etiam venenatis, turpis at eleifend porta, nisl nulla bibendum justo.</p>-->
            <!--<ul class="fbg_ul">-->
                <!--<li><a href="#">Lorem ipsum dolor labore et dolore.</a></li>-->
                <!--<li><a href="#">Excepteur officia deserunt.</a></li>-->
                <!--<li><a href="#">Integer tellus ipsum tempor sed.</a></li>-->
            <!--</ul>-->
        </div>
        <div class="col c3">
            <h2><span>Contact</span> Me</h2>
            <!--<p>Nullam quam lorem, tristique non vestibulum nec, consectetur in risus. Aliquam a quam vel leo gravida gravida eu porttitor dui.</p>-->
            <!--<p class="contact_info"> <span>Address:</span> 1458 TemplateAccess, USA<br />-->
                <span>Telephone:</span> +18292488112<br />
                <span>Others:</span> +<br />
                <span>E-mail:</span> <a href="javascript:void(0)">291247223@qq.com</a> </p>
        </div>
        <div class="clr"></div>
    </div>
</div>
<div class="footer">
    <div class="footer_resize">
        <!--<p class="lf">Copyright &copy; 2016.Company name All rights reserved.More Templates</p>-->
        <p class="rf"></p>
        <div style="clear:both;"></div>
    </div>
</div>
</div>
</body>
<script type="text/javascript">
    $(function ($) {
//        $('.sb_menu a.category').click(
//                function() {
//                    var data = {'id': $(this).attr('category_id')};
//                    console.log(data);
//                    $.ajax({
//                        'url': "{:url('home/article/getByCategory')}",
//                        'type': "POST",
//                        'data': data,
//                        'dataType': 'html',
//                        'success': function (result) {
//                            $('html').html(result.replace(/<html>(.*)<\/html>/, "$1"));
//                        }
//                    });
//        });
        $('.button_search').click(function(){
            $('from').trigger("submit");
        });
//        $('.button_search').focus(function(){
//            if($(this).val()=='Search our ste:'){
//                $(this).val('');
//            }
//        });
//        $('.button_search').blur(function(){
//            if($(this).val()==''){
//                $(this).val('Search our ste:');
//            }
//        });
    });
</script>
</html>
