

<link href="/static/admin/assets/DT_bootstrap.css" rel="stylesheet" media="screen">

<script src="/static/admin/vendors/datatables/js/jquery.dataTables.min.js"></script>
<script src="/static/admin/assets/DT_bootstrap.js"></script>
<div class="row-fluid">
    <!-- block -->
    <div class="block">
        <div class="navbar navbar-inner block-header">
            <div class="muted pull-left">文章评论管理</div>
        </div>
        <div class="block-content collapse in">
            <div class="span12">
                <div class="table-toolbar">
                    <div class="btn-group pull-right">
                        <button data-toggle="dropdown" class="btn dropdown-toggle">Tools <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Print</a></li>
                            <li><a href="#">Save as PDF</a></li>
                            <li><a href="#">Export to Excel</a></li>
                        </ul>
                    </div>
                </div>
                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example2">
                    <thead>
                    <tr style="text-align: center">
                        <th>编号</th>
                        <th>文章标题</th>
                        <th>Pid</th>
                        <th>评论者</th>
                        <th>评论</th>
                        <th>添加时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {volist name='commentList' id='comment'}
                    <tr class="odd gradeX" style="text-align: center">
                        <td>{$comment.id}</td>
                        <td><a href="{:url('admin/article/read',['id'=>$comment.article_id])}">{$comment.title}</a></td>
                        <td>{$comment.pid}</td>
                        <td>{$comment.username}</td>
                        <td>{:substr($comment.content,0,30)}</td>
                        <td>{$comment.addate}</td>
                        <td><a href="{:url('admin/comment/read',['id'=>$comment.id])}"><i class="icon-eye-open"></i></a>&nbsp;<a onclick="return confirm('确认删除此评论');" href="{:url('admin/comment/delete',['id'=>$comment.id])}"><i class="icon-remove-sign"></i></a></td>
                    </tr>
                    {/volist}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- /block -->
</div>
